aplpy>=1.1.1
astropy>=3.0.3
distributed>=1.22.0
future>=0.16.0
matplotlib>=2.2.2
photutils>=0.4
psutil>=5.4.6
pyfftw>=0.10.4
pymongo>=3.6.1
pyprind>=2.11.2
pytest>=3.6.2
pytz>=2017.3
requests>=2.18.4
scipy>=1.1.0
scikit-image>=0.14.0
scikit_learn>=0.19.1
timeout_decorator>=0.4.0
-e git://github.com/Supervisor/supervisor.git#egg=supervisor
-e git://github.com/dmitryduev/kowalski.git#egg=penquins
-e git://github.com/dmitryduev/image_registration.git#egg=image_registration
-e git://github.com/cmccully/lacosmicx.git#egg=lacosmicx
-e git://github.com/megalut/sewpy#egg=sewpy
